pipeline {
    agent any

    triggers { 
        
    }

    stages {
        stage('Build') {
            steps {
            
            }
        }
        stage('Test') {
            steps  {
            
            }
        }
        stage('Push') {
            steps {

            }
        }
        stage('Deploy') {
            environment {
            }
            steps {

            }
        }
    }
}