pipeline {
    agent any

    triggers { 
        // build triggers go here
    }

    stages {
        stage('Build') {
            steps {
                // build steps go here
            }
        }
    }
}